URL=https://jobinja.ir/jobs?&filters%5Bjob_categories%5D%5B0%5D=%D9%88%D8%A8%D8%8C%E2%80%8C%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%E2%80%8C%D9%86%D9%88%DB%8C%D8%B3%DB%8C%20%D9%88%20%D9%86%D8%B1%D9%85%E2%80%8C%D8%A7%D9%81%D8%B2%D8%A7%D8%B1&filters%5Bkeywords%5D%5B0%5D=&filters%5Bkeywords%5D%5B0%5D=&filters%5Blocations%5D%5B0%5D=%D8%AA%D9%87%D8%B1%D8%A7%D9%86&filters%5Bremote%5D=1&filters%5Bsal_min%5D%5B10%5D=35000000%3A&preferred_before=1710496986&sort_by=published_at_desc
TELEGRAM_BOT_TOKEN=6107733106:AAFulw8vnf1-3mxSFfKFL8Zr1qoffiGOh0E
TELEGRAM_CHAT_ID=5425016876
KEYWORDS=front-end, frontend, front end, ریاکت, ری اکت, react, html, css